<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Real Madrid 2021</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">
</head>

<body>
    Squad
    <h1>Alaba</h1>
    <meta charset="utf-8">
    <h2>Benzema</h2>
    <h3>Asensio</h3>
 
    <p>Champions League 2021 Winner</p>
    <button>fix</button>
    <button>udah pasti</button>

    <div style="background-color: red; padding: 10px; margin-top: 20px;">
        <div style="background-color: aqua; margin: 10px; padding: 10px; text-align: center;">
            <span>Box</span>
        </div>
    </div>

    <div class="outer-box">
        <div id="inner-box">
            <span>Box-2</span>
        </div>
    </div>
</body>

</html>