{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="margin-top: 65px;"  >
    <img src="https://cmspreview-res.cloudinary.com/image/upload/f_auto,q_auto,fl_lossy/enGB/Images/football-ss20-mutator-launch-pdp-story-tab-predator-d_tcm143-443945.jpg">
</div>
<div style="margin-top: 50px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.futbolemotion.com/imagesarticulos/158571/750/bota-adidas-predator-freak-fg-rojo-0.webp" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>INFINITE CONTROL!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">ADIDAS PREDATOR FREAK+ FG</h1>
                    <p>Boss the game, deliver masterful ball control, and be the apex Predator in your game.</p>
                </div>
            </div> 
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-warning text-uppercase">Shop Now !!</h1>
                <h2 class="fw-bold fst-italic fs-5">$149</h2>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 25px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.futbolemotion.com/imagesarticulos/153192/750/bota-adidas-predator-freak-.1-fg-negro-0.webp" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>INFINITE CONTROL!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">ADIDAS PREDATOR FREAK.1 FG</h1>
                    <p>Engineered studs and grips help you play hard on any pitch, including specially designed firm ground, artificial grass, indoor, soft ground and turf.</p>
                </div>
            </div> 
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-warning text-uppercase">Shop Now !!</h1>
                <h2 class="fw-bold fst-italic fs-5">$120</h2>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 25px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.futbolemotion.com/imagesarticulos/153051/750/bota-adidas-predator-freak-ag-black-white-solar-yellow-0.webp" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>INFINITE CONTROL!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">ADIDAS PREDATOR FREAK+ AG</h1>
                    <p>TTextured control embossing is incorporated on the side panels of adidas Predator to assist in creating curve and dip on shots. Equip yourself with the tools necessary to take your game to the next level.</p>
                </div>
            </div> 
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-warning text-uppercase">shop now !!!</h1>
                <p class="fw-bold fst-italic fs-4">$129</p>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 25px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.futbolemotion.com/imagesarticulos/153201/750/bota-adidas-predator-freak-.3-l-fg-negro-0.webp" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>INFINITE CONTROL!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">ADIDAS PREDATOR FREAK.3 L FG</h1>
                    <p>F Classic 90s football boots have been reborn for the modern game with groundbreaking leather ridges, which increase stability and ball control for pro and amateur footballers alike</p>
                </div>
            </div> 
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-danger text-uppercase">Sale !!!</h1>
                <h2 class="fw-normal fst-italic fs-5 text-decoration-line-through">$109</h2>
                <p class="fw-bold fst-italic fs-4">$79</p>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>


{% endblock content %}