{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="margin-top: 65px;"  >
    <img src="https://pbs.twimg.com/media/Eet6fq1VoAIQetk.jpg:large">
<div style="margin-top: 50px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://images.bonanzastatic.com/afu/images/666d/a2d0/63fc_10388679469/__57.jpg" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>A NEW ERA OF SPEED!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">Adidas Marvel X Ghosted.1 FG</h1>
                    <p>The iconic clawcollar design combines with premier football technology to bring you our fastest football boots ever. </p>
                </div>
            </div> 
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-danger text-uppercase">Limited !!!</h1>
                <p class="fw-bold fst-italic fs-4">$250</p>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>
 
<div style="margin-top: 25px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.futbolemotion.com/imagesarticulos/153201/750/bota-adidas-predator-freak-.3-l-fg-negro-0.webp" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>INFINITE CONTROL!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">ADIDAS PREDATOR FREAK.3 L FG</h1>
                    <p>F Classic 90s football boots have been reborn for the modern game with groundbreaking leather ridges, which increase stability and ball control for pro and amateur footballers alike</p>
                </div>
            </div> 
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-danger text-uppercase">Sale !!!</h1>
                <h2 class="fw-normal fst-italic fs-5 text-decoration-line-through">$109</h2>
                <p class="fw-bold fst-italic fs-4">$79</p>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 25px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.futbolemotion.com/imagesarticulos/142233/grandes/bota-adidas-x-19.1-fg-white-black-shock-pink-0.jpg" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>A NEW ERA OF SPEED!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">Adidas X 19.1 FG</h1>
                    <p>Feel the ball with direct touch lightweight mesh uppers for high acceleration ball control.</p>
                </div>
            </div> 
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-danger text-uppercase">Sale !!!</h1>
                <h2 class="fw-normal fst-italic fs-5 text-decoration-line-through">$120</h2>
                <p class="fw-bold fst-italic fs-4">$89</p>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 25px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.futbolemotion.com/imagesarticulos/152954/grandes/bota-adidas-copa-mundial-fg-negro-0.jpg" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>CRAFTED FOR ULTIMATE TOUCH!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">Adidas Copa Mundial FG</h1>
                    <p>Football depends on a strong sense of touch. With Copa football boots, you can unleash your best skills, and feel every pass and shot.</p>
                </div>
            </div> 
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-danger text-uppercase">Sale !!!</h1>
                <h2 class="fw-normal fst-italic fs-5 text-decoration-line-through">$140</h2>
                <p class="fw-bold fst-italic fs-4">$99</p>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}