{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="margin-top: 65px;"  >
    <img src="https://pbs.twimg.com/media/Eet6fq1VoAIQetk.jpg:large" class="img-fluid">
</div>
<div style="margin-top: 50px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.futbolemotion.com/imagesarticulos/149225/grandes/bota-adidas-x-ghosted-sg-blanco-0.jpg" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>A NEW ERA OF SPEED!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">Adidas X Ghosted 20+ SG</h1>
                    <p>Unleash speed and exploit every gap with lightning fast lightweight X football boots helping you power through your game.</p>
                </div>
            </div> 
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-warning text-uppercase">Shop Now !!</h1>
                <h2 class="fw-bold fst-italic fs-5">$120</h2>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 25px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.futbolemotion.com/imagesarticulos/158540/540/bota-adidas-x-speedflow-fg-rojo-0.jpg" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>A NEW ERA OF SPEED!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">Adidas X SpeedFlow+ FG</h1>
                    <p>Unlock pure acceleration with ultralight speed frame technology keeping you lightning fast. Enjoy explosive energy returns with boost midsole cushioning providing raw power.</p>
                </div>
            </div> 
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-warning text-uppercase">Shop Now !!</h1>
                <h2 class="fw-bold fst-italic fs-5">$140</h2>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 25px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://images.bonanzastatic.com/afu/images/666d/a2d0/63fc_10388679469/__57.jpg" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>A NEW ERA OF SPEED!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">Adidas Marvel X Ghosted.1 FG</h1>
                    <p>The iconic clawcollar design combines with premier football technology to bring you our fastest football boots ever. </p>
                </div>
            </div> 
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-danger text-uppercase">Limited !!!</h1>
                <p class="fw-bold fst-italic fs-4">$250</p>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 25px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.futbolemotion.com/imagesarticulos/142233/grandes/bota-adidas-x-19.1-fg-white-black-shock-pink-0.jpg" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>A NEW ERA OF SPEED!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">Adidas X 19.1 FG</h1>
                    <p>Feel the ball with direct touch lightweight mesh uppers for high acceleration ball control.</p>
                </div>
            </div> 
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-danger text-uppercase">Sale !!!</h1>
                <h2 class="fw-normal fst-italic fs-5 text-decoration-line-through">$120</h2>
                <p class="fw-bold fst-italic fs-4">$89</p>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>


{% endblock content %}