{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header bg-light">
    <div class="header-content container-fluid img-fluid" style="margin-top: 65px; height: 575px ;background-image: url(https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/enUS/Images/football-fw18-exhibitpack-clp-mastheadS-1-desktop_tcm221-312573.jpg);">
        <div class="row justify-content-start">
            <div class="col-md-" style="margin-top: 65px;">
                <div class="row min-vh-10 align-items-middle">
                    <div class="col-md-5" style=" margin-top: 50px; margin-left: 20px;">
                        <div class="profile-text">
                            <p>#ImpossibleIsNothing</p>
                            <h1 class="fw-bold fs-1 text-uppercase">Adidas Football</h1>
                            <h2>STORIES, STYLE, AND SPORTING GOODS AT ADIDAS, SINCE 1949</h2>
                            <p>Through sport, we have the power to change lives.</p>
                            <a href="/shop/popular"><button class="btn">Popular Right Now</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-lg">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center mt-4 mb-4">
                <h2 class="fw-bold"> Our Cleats Collection</h2>
            </div>
        </div>
    </div>
    <div class="row text-center mb-4">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="skills-item card shadow-sm p-4 rounded bg-white image-copa">
                <img style="height: 175px;"
                    src="https://www.sports-ws.com/toku/brand_shoes/images/18ss_adidas2/adidas_skystalker_series_copa.png">
                <div class="icon fs-2 my-3">
                    <h10>COPA</h10>
                </div>
                <h4>FREEDOM TO FEEL EVERY TOUCH</h4>
                <p class="text-muted">Football depends on a strong sense of touch.</p>
                <a class="btn btn-outline-danger" href="../shop/adidascopa">See Catalog </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="skills-item card shadow-sm p-4 rounded bg-white image-x">
                <img style="height: 175px;"
                    src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/2ec385103419389.5f4e46cbbf75f.png">
                <div class="icon text-danger fs-2 my-3">
                    <h10>X GHOSTED</h10>
                </div>
                <h4>UNLEASHING YOUR X FACTOR</h4>
                <p class="text-muted">Daringly fast, ultra-lightweight, be fast like a cheetah on the pitch.</p>
                <a class="btn btn-outline-danger" href="../shop/adidasx">See Catalog </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="skills-item card shadow-sm p-4 rounded bg-white image-predator">
                <img style="height: 175px;"
                    src=" {% static 'images/predator.png' %}">
                <div class="icon text-danger fs-2 my-3">
                    <h10>PREDATOR</h10>
                </div>
                <h4>FINDING YOUR INNER PREDATOR</h4>
                <p class="text-muted">Experience precise control for every playing surface.</p>
                <a class="btn btn-outline-danger" href="../shop/adidaspredator">See Catalog </a>
            </div>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mt-4 mb-4">
                    <h2 class="fw-bold">My Contact & Location</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card d-flex mb-3 p-3">
                    <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSBpgXSTZgBnSRCSHbswGqLjcXXftcBKLtGSGgswDsbpmhHXGNNBHMnWbcMtzQjrXFhxwKlf"><img src="https://www.google.com/gmail/about/static/images/logo-gmail.png?cache=1adba63" width="30px"></a>
                    <h5 class="fw-bold fs-4 m-0">Email</h5>
                    <p class="text-muted m-0">ridwanmnhuruk@gmail.com</p>
                </div>
                <div class="card d-flex mb-3 p-3">
                    <a href="https://www.linkedin.com/in/ridwan-manihuruk-11a6b01b3/"><img src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw" width="25px"></a>
                    <h5 class="fw-bold fs-4 m-0">Linkedin</h5>
                    <p class="text-muted m-0">Ridwan Manihuruk</p>
                </div>
                <div class="card d-flex mb-3 p-3">
                    <a href="https://github.com/ridwanmanihuruk"><img src="https://cdn.icon-icons.com/icons2/2368/PNG/512/github_logo_icon_143772.png" width="30px"></a>
                    <h5 class="fw-bold fs-4 m-0">Github</h5>
                    <p class="text-muted m-0">Ridwan Manihuruk</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card d-flex mb-3 p-3" href="https://www.instagram.com/ridwanmnhuruk">
                    <a href="https://www.instagram.com/ridwanmnhuruk/"><img src="https://fh.unpad.ac.id/wp-content/uploads/2019/07/instagram.png" width="30px"></a>
                    <h5 class="fw-bold fs-4 m-0">Instagram</h5>
                    <p class="text-muted m-0">@ridwanmnhuruk</p>
                </div>
                <div class="card d-flex mb-3 p-3">
                    <a href="https://www.twitter.com/"><img src="https://logodownload.org/wp-content/uploads/2014/09/twitter-logo-6.png" width="30px"></a>
                    <h5 class="fw-bold fs-4 m-0">Twitter</h5>
                    <p class="text-muted m-0">-</p>
                </div>
                <div class="card d-flex mb-3 p-3">
                    <a href="https://id.wikipedia.org/wiki/Kota_Sukabumi"><img src="https://jurnal.polines.ac.id/public/site/images/wahana/location.png" width="30px"> </a>
                    <h5 class="fw-bold fs-4 m-0">Location</h5>
                    <p class="text-muted m-0">Sukabumi, West Java</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}