{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="margin-top: 100px;" class="card">
    <div class=" header-content container-lg mt-4">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-1">
                <img src="https://s2.bukalapak.com/img/2408987844/large/sepatu_bola_adidas_copa_193_fg_original.jpg" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>Welcome, customer !</p>
                    <h1 class="fw-bold fs-1 text-danger text-uppercase">Smartphone</h1>
                    <p>Find your best and top quality electronic goods here. lorem ipsum dolor sit amet.</p>
                    <button class="btn btn-danger">See Review</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
