{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="margin-top: 100px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.futbolemotion.com/imagesarticulos/136344/grandes/bota-adidas-copa-20-fg-silver-metallic-solar-yellow-0.jpg" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>CRAFTED FOR ULTIMATE TOUCH!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">Adidas Copa 20+ FG</h1>
                    <p>Redefine touch and feel every movement with adidas Copa football boots. Experience the future of the game in a refresh of iconic football boots that have graced the feet of players at all levels across the world since the 1982 World Cup.</p>
                </div>
            </div> 
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-warning text-uppercase">Shop Now !!</h1>
                <h2 class="fw-bold fst-italic fs-5">$120</h2>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 25px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.mercurialsuperflycleats.com/7963-large_default/adidas-copa-20-fg-k-leather-soccer-cleat-white-core-black-signal-green.jpg" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>CRAFTED FOR ULTIMATE TOUCH!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">Adidas Copa 20+ K-Leather</h1>
                    <p>Everything about Copa football boots is engineered to provide you the tools you need to give your best performance for the full 90 minutes, even in the most trying conditions.</p>
                </div>
            </div> 
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-warning text-uppercase">Shop Now !!</h1>
                <h2 class="fw-bold fst-italic fs-5">$140</h2>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 25px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.futbolemotion.com/imagesarticulos/152954/grandes/bota-adidas-copa-mundial-fg-negro-0.jpg" width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>CRAFTED FOR ULTIMATE TOUCH!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">Adidas Copa Mundial FG</h1>
                    <p>Football depends on a strong sense of touch. With Copa football boots, you can unleash your best skills, and feel every pass and shot.</p>
                </div>
            </div> 
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-danger text-uppercase">Sale !!!</h1>
                <h2 class="fw-normal fst-italic fs-5 text-decoration-line-through">$140</h2>
                <p class="fw-bold fst-italic fs-4">$99</p>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
